<% @title='Rules' %>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Facilities & Directions</h2>
    <p>
      Cloudhaus is located at <strong>685 North James Rd, Columbus OH, 43219</strong>.
    </p>
    <p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.971014163725!2d-82.90985268432755!3d39.98675308960047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883889df7ae674a5%3A0xeddf5f7fa8e35fbb!2sCloudhaus!5e0!3m2!1sen!2sus!4v1469929941459" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </p>
  </div>
</div>