<% @title='Rules' %>

<h2>Code of Conduct</h2>
<div class="row">
  <div class="col-md-8">
    These are the rules that all members agree to abide by:
    <ol>
      <li>Respect all people, equipment and space.</li>
      <li>Adhere to the following dress code:
        <ul>
          <li>FOOTWEAR Steel toe boots are recommended. Soft soles and stable platforms provide the most secure footing.
            No high
            heels or open-toed shoes.
          </li>
          <li>CLOTHING Nothing on your person should hang away from the body. Long pants will protect you from debris
            and are
            highly recommended.
          </li>
          <li>
            JEWELRY Studs on the ears and face are fine. Bracelets, rings, necklaces, and watches should be avoided.
          </li>
        </ul>
      </li>
      <li>Clean up after yourself.</li>
      <li>Notify staff of any problem with the facility, machines, or other members in the space as soon as you notice
        them.
      </li>
      <li>Do not attempt maintenance or repair work on running equipment.</li>
      <li>Do not use equipment you are not authorized to use, trained on, and comfortable using.</li>
      <li>Do not operate heavy machines if you are the only person in the space.</li>
      <li>Immediately obtain first aid for any injury and report to shop managers. When determining the severity of
        the
      </li>
      <li>injury, always err on the side of caution.</li>
      <li>No one under 18 allowed to use any power equipment</li>
      <li>Do not leave machines running unattended.</li>
      <li>Do not attempt to stop running equipment with any part of your body.</li>
      <li>Be aware of all equipment around you, especially moving parts.</li>
      <li>Check that all pieces and tooling are properly secured before operating equipment.</li>
      <li>Remove all chuck keys, wrenches, and other tools from the machinery after making adjustments.</li>
      <li>Work with a partner when appropriate–do not try to move heavy objects nor support heavy pieces by yourself.
      </li>
      <li>Properly prepare stock before use. Store stock in a respectful manner.</li>
      <li>Only one person should be operating a machine at a time.</li>
      <li>The social lounge area is for sitting and talking and eating. Do not do these things at the machines.</li>
      <li>Ensure that you are working in a properly lit space.</li>
      <li>Work at your own pace.</li>
      <li>Pay attention to the machinery. Something that does not feel or sound right is likely not working right.</li>
      <li>Do not use compressed air to clean machinery, work surfaces, or yourself.</li>
      <li>Report any lost keys to the space, tools, or machinery immediately.</li>
      <li>Keep floors clean–any spills should be cleaned in an appropriate manner immediately.</li>
      <li>Stow materials, tools, and scrap appropriately. Do not pose a tripping hazard or put tools at risk for
        damage.
      </li>
      <li>Always leave ample time to clean up when you are finished.</li>
    </ol>
  </div>
</div>

<!--
  Borrowed from the following places, until we get around to making our own:
    http://www.portcitymakerspace.com/wiki/index.php?title=Code_of_Conduct
    https://montrosemakerspace.com/code-conduct/
    https://dallasmakerspace.org/wiki/Rules_and_Policies
    http://okrls.org/wp-content/uploads/2015/09/Makerspace-Use-Policy.pdf
    http://www.manchestermakerspace.org/code-of-conduct
    http://www.aurorapubliclibrary.org/makerspace-guidelines-3/
    http://jacksonmakerspace.org/Mwiki/index.php?title=Rules
    http://www.southernutahmakerspace.org/index.php?title=Rules
-->

<%#TODO: Write rules. %>