.brand a:hover {
    background-color: transparent !important;
}

.even_row {
}

.odd_row {
    background-color: #C1D2DD;

}

thead tr {
}

thead tr td {
    padding: 1px;
}

.true {
    color: green;
}

.false {
    color: red;
}

.field {
    margin-bottom: 5px;
}