// Place all the styles related to the IndexImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_actions {
  font-size: 2em;
  font-weight: bold;
}

.index_actions a {
  margin: 1em;
}